
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;800&display=swap');


:root {
    --DarkBlue: hsl(209, 23%, 22%);
    --VeryDarkBlue: hsl(207, 26%, 17%); /*Dark mode background*/
    --VeryDarkBlueText: hsl(200, 15%, 8%); /*Light mode text*/
    --DarkGray: hsl(0, 0%, 52%); /*light mode input*/
    --VeryLightGray : hsl(0, 0%, 98%); /*(Light Mode Background)*/
    --White : hsl(0, 0%, 100%); /*(Dark Mode Text & Light Mode Elements)*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100vw;
  
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif; 
}

.darkMode {
 
  background: var(--VeryDarkBlue);
}

.darkModeElement {
  color: var(--White);
  background: var(--DarkBlue);
}

.darkModeText {
  color: var(--White);
}

.lightMode {
  background: var(--VeryLightGray);
}
.lightModeText {
  color: var(--VeryDarkBlueText);
}
.lightModeElement {
  color: var(--VeryDarkBlueText);
  background: var(--White);
  box-shadow: 0 0 10px 0px var(--DarkGray);
}

