.container {
  display: flex;
  flex-direction: column;
  gap: 2.03125rem;
  flex: 1;
  color: var(--primary-color);
  padding: 1rem 0 1rem 1rem;
  /* background-image: url('../assets/background.jpg'); */
  background-position: "center";
  background-size: cover;
}
.location_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.35rem;
}

.day,
.time {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.city,
.country {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.weather_desc span {
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.temperature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.temperature span:first-child {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.temperature span:nth-child(2) {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.other_info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.other_info span {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
