.container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 0.65rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.65rem;
}

.day {
  display: flex;
  padding: 0.65rem;
  align-items: flex-start;
  gap: 0.65rem;
}

.day span {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.other_stats {
  display: flex;
  padding: 1.3rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.3rem;
  border: 1px solid var(--white);
}

@media screen and (max-width: 992px) {
  .day {
    padding: 0.2rem;
  }
}
